{{!-- NAV BAR --}}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SpriteMate</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
  
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Log In</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Favorites</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class='container'>
  <h1>Sandbox</h1>
    <div class="jumbotron">
          <div class="container">
        <canvas id='player'> </canvas>
        
        <img id="coin" src= 'http://jacksbox.de/wp-content/uploads/2013/03/coin.png' > 
        
        <img id="brick" src = 'https://t2.rbxcdn.com/76d17951d683b49196a9ffa03e125156'> 
        
   </div>
    </div>
</div> {{!-- End container --}}


<div class="container">
  <h1>Gallery</h1>
      <div class="well">
          <div class="row">
            {{#each Sprites}}
            	{{#unless this.Private}}
            		  <div class="col-sm-4 col-md-3 col-lg-3 col-xl-3">
            		    <div class="thumbnail">
            		      <img src={{this.ImagePreview}} class='spriteImg' id='img{{this.id}}' alt="...">
            		      <div class="caption">
            		        <h3>{{this.ImageName}}</h3>
            		        <p> {{this.Description}} </p>
            		        <p><a href="#" class="btn btn-primary" role="button">Save</a> <a href="#" class="btn btn-default" role="button">Preview</a></p>
            		      </div>
            		    </div>
            		  </div>
            	{{/unless}}	
            {{/each}}	
        </div>
    </div> {{!-- End well --}}
</div> {{!-- End container --}}



