<div class="alert alert-danger">Username or password was incorrect</div>
<div class="container">
     <form class="signup">
         <!---UserName --> 
         <div class="form-group">
             <label for="UserName"> User id</label>
             <input type="text" class="form-control" name="UserName" aria-describedby="User Name" placeholder="Enter user id" required>
        </div>
     
        <!--- Password--> 
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="Password" placeholder="Password" required>
        </div> 
        
         <button type="submit" class="btn btn-home">Submit</button>
                <a href="/signup"><p>Don't have an account? Click here to sign up!</p></a> 
    </form>
 </div>