<div class="container">
     <form class="signup">
         <!---UserName --> 
         <div class="form-group">
             <label for="UserName"> User id</label>
             <input type="text" class="form-control" name="UserName" aria-describedby="User Name" placeholder="Enter user id" required>
        </div>
     
        <!--- Password--> 
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="Password" placeholder="Password" required>
        </div>   
        <!--- FullName --> 
         <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="FullName" aria-describedby="Full Name" placeholder="Please enter your full name" required>
         </div>
         <!--- Email -->                 
           <div class="form-group">
            <label for="email">Email address</label>
              <input type="email" class="form-control" name="Email" aria-describedby="email" placeholder="Enter email" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            
            <button type="submit" class="btn btn-home">Submit</button>
                <a href="/signup/new"><p>Don't have an account? Click here to sign up!</p></a>
    </form>
 </div>