<div class="container">
     <form class="signup">
                <!---User id --> 
                 <div class="form-group">
                  <label for="id"> User id</label>
                  <input type="text" class="form-control" name="id" aria-describedby="User Id" placeholder="Enter user id" required>
                </div>
     
                <!--- password--> 
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>   
                <!--- Name --> 
                 <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" name="name" aria-describedby="Name" placeholder="Please enter your full name" required>
                </div>
                 <!--- email --> 
                <div class="form-group">
                    <label for="email">Email address</label>
                      <input type="email" class="form-control" name="email" aria-describedby="email" placeholder="Enter email" required>
                      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
        </form>
 </div>