@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


body{
    font-family: 'Roboto Condensed', sans-serif;
}


.thumbnail {
	height: 350px;
	width: 200px;
}

.thumbnail img {
	height: 150px;
	width: 150px;
}